div.bg
{
  width: 100%;
  height: 30em;
  background: #EEEEEE;
}
div.contenidor
{
  width: 60%;
  height: auto;
  background: #FFFFFF;
  border-radius: 8px;
  margin:auto;
  position: relative;
  top: 50px;
  box-shadow:5px 10px 5px #EEEEEE;
}

div.capcelera
{
  width: 100%;
  height: 50px;
  background: #3B9BB3;
  padding-top: 10px;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-bottom: 10px;


}

div.crearCompte{
  display: flex;
  justify-content: center;
  width: auto;
  height: 50px;
  position: relative;
  top: 75%;
  left: -40%;
  padding-left: 40px;
  padding-top: 16px;
  text-align: center;
}

a{
  font-size: 10pt;
  color: #522024;
  margin-right: 10px;
  text-decoration: none;
}

a i{
  font-size: 6pt;
  color: #522024;
}

a#oblidat
{
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
}

a#oblidat:hover{
  color: blue;
}

label
{
  opacity: .5;
  padding: 20px;
}

label#info
{
  text-align: center;
  font-size: 10pt;
}

div.letGo
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
div.formulari,
div.xarxaSocials
{
  width: 40%;
  height: 400px;
  background: #FFFFFF;
  display: flex;
  flex-flow: column wrap;
  border-radius: 8px;
}

div.xarxaSocials
{
  align-items:center;
  padding: 10px;
  padding-left: 50px;
}

.btn{
    background-color: #38BFE7;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 90%;
}

.facebook
{
  background-color: #3A589A;
}

.google
{
  background-color: #E9544F;
}

input[type="text"],
input[type="password"]
{
  width: 75%;
  box-sizing: border-box;
  border: 1px solid #C4C4C4;
  padding: 12px 20px 12px 10px;
  margin-bottom: 45px;
  margin-right: 20px;
  background: #FFFF;
  opacity: .8;
  font-size: 12pt;
  margin-left: 19px;
}

hr{
  border: .5px solid #DFDFED;
  height: 150px;
  margin-top: 20px;
}
input[type="submit"]
{
  background-color: #38BFE7;
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: justify;
  text-decoration: none;
  display: inline-block;
  margin: auto;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 45%;
  margin-left: 19px;
}

i{
  font-size: 15pt;
}
#expandeix
{
  color: #00749A;
  position: relative;
  top: 175px;
  left: -10px;
  width: 20px;
  height: 10px;
}

#abaix{
  position: relative;
  top: 180px;
  left: 0;
}
#titul
{
  color: #FDE7E8;
  letter-spacing: 2px;
  margin: 10px;
  margin-left: 0px;
  margin-bottom: 2px;
  opacity: .9;
  text-align: center;
  transition: all ease-in-out 1s;
}
