div.sobre{
  width: 100%;
  height: auto;
}

div.contenidor
{
  width: 100%;
  height: auto;
  background: #38BFE7;
  box-sizing: content-box;
  display: flex;
  flex-flow: row wrap;
}

div.presentacio,
div.mobile
{
  width: auto;
  height: auto;
  position: relative;
  top: -50px;
  padding: 50px;
  padding-right: 150px;
  margin: auto;
}
div.imatge
{
  padding: 0;
  width: 400px;
  position: relative;
  left: -290px;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#expandeix
{
  color: #00749A;
  margin-bottom: 10px;
}

#titul
{
  color: white;
  letter-spacing: 2px;
  margin: 10px;
  margin-left: 0px;
  margin-bottom: 25px;
}

.proces
{
  width: 100%;
  height: auto;
  background: #FFFFFF;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cap
{
  width: 33.33%;
  height: 200px;
  padding: 20px;
  border-right: solid 1px #C1E7F5;
  word-break: break-all;
  text-align: center;
  padding-top: 40px
}
.capituls
{
  color: #31AFE0;
  margin-bottom: 15px;
}
#canvi
{
  color: #0B6F96;
  display: inline-block;
  margin-right: 10px;
}
.explicacio
{
  text-align: center;
  opacity: .9;
  color: #A1A1A1;
  font-size: 15pt;
}

.text
{
  width: 90%;
  margin: auto;
}

a{
  background: transparent;
  text-decoration: none;
  color: white;
}

div.explicacioContenidor{
  background: #F4F4F4;
  width: 100%;
  height: auto;
}

div.explicacioContenidor > p {
  font-size: 17pt;
  word-break: break-all;
  padding: 150px;
  padding-right: 20px;
  opacity: .7;
  width: 78%;
  margin: auto;
}

div.equip{background: #F4F4F4;}

div.equip > h1{
  text-align: center;
  color: black;
  opacity: .8;
}

div.perfil{
  width: 120px;
  height: 120px;
  background: blue;
  border-radius: 50%;
  margin: auto;

  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/d6/02/68/d60268547250b7c6c9a30a7c568a8686.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

p#dis{
  text-align: center;
  opacity: .5;
  font-size: 10pt;
  padding-top: 10px;
  padding-bottom: 10px;
}
#expandeix{text-align: center; padding-top: 10px;}

div.xarxa{
  width: 80px;
  height: auto;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

div.xarxa a{
  color: grey;
  font-size: 12pt;
}

div.mapa{
  width: 100%;
  height: 20em;
  margin-top: 50px;
}
