div.contenidor{
  width: 100%;
  height: 100%;
  background: #F5F5F5;
}
div.visualitzarProjecte {
  width: 80%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  margin: 20px auto;
  border-radius: 10px;
}

div.cont{
  width: 25%;
  height: auto;
  display:flex;
  flex-flow: row nowrap;
}

#like:hover{
cursor: pointer;
}
div.contenidorPrimer{

  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  background: #F5F5F5;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

h4{text-transform: capitalize;}
p{text-transform: capitalize;}
div.contenidorSegon{
  width: 40%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background: #FFFFFF;
  box-shadow: 5px 5px 5px #888888;
}

p#nomUsuari{
  color: white;
  font-size: 10pt;
  text-transform: capitalize;
}

div.capcelera{
  width: 97%;
  padding: 20px;
  padding-right: 0px;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 15px;
  background: #2E3E53;
}

div.capcelera > p {
  font-size: 9pt;
  margin-top: 12px;
  margin-left: 10px;
  opacity: .8;
}



img#pay{
  width: 32px;
  height: 32px;
  display: inline-block;
}


div.img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

div.contenidorImatge{
  width: 100%;
  height: 300px;
}

div.contenidorImatge:hover{
  cursor: pointer;
  transition: all ease 1s;
  opacity: .8;
}

div.llistatImatges{
  width: auto;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  padding-top: 10px;
  padding-bottom: 10px;

}

div.imatges{
  width: 100%;
  height: 100px;
  margin: 5px;
  transition: all ease 1s;
}

div.imatges:hover{
  cursor: pointer;
  transition: all ease 1s;
  opacity: .8;
}
div.perfilUrl{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('http://conceptartempire.com/images/wparchive/medieval-concept-art/33-journey-painting-jordan-grimmer-concept-art.jpg');
}


div.info{

  width: 97%;
  padding: 20px;
  padding-right: 0px;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 3px;

}

div.info > h2{
  font-weight: bold;
  font-size: 12pt;
  opacity: .8;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

input[type=text]#textDesc{
  width: 80%;
  background: white;
  font-size: 9pt;
  opacity: .8;
  text-align: justify;
  text-transform: capitalize;
  border: none;
  word-break: break-all;
  margin: 0;
}
div.tipusCat{
  padding: 20px;
  padding-right: 10px;
  display: flex;
  flex-flow: row nowrap;
}
div.cate{
  display: flex;
  flex-flow: column nowrap;
  width: auto;
  height: auto;
  margin-right: 50%;
}

div.cate > p {
  font-size: 8pt;
  opacity: .8;
  font-weight: lighter;

}

div.cate > h4{
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  padding-left: 0px;
  font-size: 8pt;
  text-transform: capitalize;
}

div.puntuacio{
  width:auto;
  padding: 10px;
  height: 10.5em;
  padding-right: 0px;
  padding-top: 0;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 3px;
  margin-top: 0;
}

div.tags{
  padding: 10px;
  padding-left: 0;
  padding-right: 0px;
  display: flex;
  flex-flow: row wrap;
  font-size: 8pt;
  word-wrap: break-word;
}

div.tags > h4{color: #4FA5D1; text-transform: capitalize;}

.rand > i
{
  font-size: 12pt;
  opacity: .5;
  text-align: center;
  padding: 10px;
  padding-left: 0;
  padding-bottom: 0;
}
i >p{margin-top: 10px;}

i#visitas{color: blue;}
i#cor{color: orangered;}
i#commen{color: red;}

hr{
  border: 0;
  height: 1px;
  width: 100%;
  margin: auto;
  background-image: -webkit-linear-gradient(left, #4FC4D1, #4FC4D1, #F1F1F1);
}

div.comentaris{
  width: 100%;
  height: 15em;;
  padding: 20px;
  padding-right: 0px;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 3px;
  overflow: auto;
  border-radius: 0;
  border: none;
  padding: 0;
}

div.coments{
  width: 50%;
  height: auto;
  padding: 20px;
  margin-left: 35px;
}
h2#nom{
  display: inline-block;
  font-size: 8pt;
}

div#in{
  display: flex;
  flex-flow: row wrap;
}
h6{
  margin-top: 10px;
  opacity: .7;
  font-size: 7pt;
  position: relative;
  left: -12%;
  top: 2px;
}

#com{
  padding: 20px;
  font-weight: lighter;
  font-size: 10pt;
  text-align: justify;
}

div.ferComentari{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"]
{
  width: 80%;
  box-sizing: border-box;
  border: none;
  border-bottom: 4px solid #FF5855;
  padding: 20px 20px 12px 10px;
  background: #FFFF;
  opacity: .8;
  font-size: 8pt;
  outline: none;
  margin: auto;
}

hr#special{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 40%;
  margin-left: 20px;
}

div.donar{
  width: auto;
  height: auto;
  position: relative;
  top: -10px;
}

button.perso{
  background: orangered;
  border: none;
  width: auto;
  position: relative;
  top: -10px;
}
